:root {
  --bgDarkBlue: #34547A;
  --silverColor: #EEEFF1;
  --mediumGrayColor: #727272;
  --section-padding: 10rem 0;
  --underline-color: #C4C4C4;
  --horiz-p: 1.5rem;
  --wideContainer: 195rem;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  width: 118rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 var(--horiz-p);
}

.h2-uniform {
  font-size: 3.2rem;
  font-weight: 500;
}

.p-uniform {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--mediumGrayColor);
}

.btn-uniform {
  background-color: var(--bgDarkBlue);
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.3rem;
  text-align: center;
  letter-spacing: 0.21rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s all;
  width: 19rem;
  height: 5.5rem;
}

.btn-uniform:hover {
  opacity: 0.8;
}

.flex {
  display: flex;
}

.flex__left-item {
  margin-right: 15rem;
}

.flex__right-item {
  max-width: 54rem;
  width: 100%;
}

/* Header */
.header {
  /* border: solid 1px red; */
  padding: 2.7rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(238, 239, 241, 1) 0%, rgba(238, 239, 241, 1) 66%, rgba(226, 226, 226, 1) 100%);
  z-index: 9999;
}

.header .container {
  /* margin: auto; */
}

.header__flex {
  justify-content: space-between;
  align-items: center;
}

.header__left-flex-item {}

.header__logo {
  max-width: 9.6rem;
  width: 100%;
}

.header__right-flex-item {}

.header__nav-flex {
  justify-content: space-between;
}

.header__li-item {
  color: var(--bgDarkBlue);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 164.863%;
  letter-spacing: .16rem;
  text-transform: uppercase;
  padding: 1rem var(--horiz-p);
}

.header__li-item:not(:last-child) {
  margin-right: 2rem;
  white-space: nowrap;
}

.header__li-item:hover {
  transition: 0.2s all;
  background-color: var(--bgDarkBlue);
  color: #fff;
}

.header__link {}

@media screen and (max-width: 900px) {
  /* html {
    font-size: 50%;
  } */
}

@media screen and (max-width: 768px) {
  .header {
    position: static;
  }

  .header__flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header__li-item:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 650px) {
  .header__left-flex-item {
    margin-bottom: 2rem;
  }

  .header__nav-flex {
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
  }
}


/* section Main */
.main {
  background-color: var(--silverColor);
  padding: 19.7rem 0 10rem;
}

.main__img {
  width: 35.7rem;
}

.main__flex {
  justify-content: center;
}

.main__left-flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__h1 {
  color: #000;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 164.863%;
  margin-bottom: 6rem;
}

.main__p {
  margin-bottom: 6rem;
}

.main__button-a {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  :root {
    --section-padding: 8rem 0;
  }

  .flex__left-item {
    margin-right: 8rem;
  }

  .main__img {
    width: 30rem;
  }
}

@media screen and (max-width: 900px) {
  .flex__left-item {
    margin-right: 6rem;
  }

}

@media screen and (max-width: 768px) {
  :root {
    --section-padding: 4rem 0;
  }

  .main__flex {
    flex-wrap: wrap;
  }

  .main__left-flex-item {
    margin-right: 0;
  }

  .main__img {
    /* max-width: 25rem; */
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .main {
    padding: var(--section-padding);
  }

  .flex__left-item {
    margin-right: 0;
  }

  .main__img {
    max-width: 35.7rem;
    width: 100%;
  }

  .main__h1 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3rem;
  }

  .p-uniform {
    margin-bottom: 0rem;
  }

  .main__p {
    margin-bottom: 3rem;
  }

  .main__button-a {
    margin: 0 auto;
  }
}

/* section About */
.about {
  padding: var(--section-padding);
}

.about__h2,
.about__p {
  text-align: center;
}

.about__h2 {
  margin-bottom: 5rem;
}

.about__p {
  max-width: 54rem;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .h2-uniform {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .h2-uniform {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
  }


}


/* secrtion Numbers */
.numbers {
  background-color: var(--bgDarkBlue);
  padding: var(--section-padding)
}

.numbers__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  /* margin: 0 auto; */
}

.numbers__grid-item {}

.numbers__inner-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectNum__img {
  margin-right: 2rem;
}

.numbers__inner-flex-item {}

.numbers__h3,
.numbers__p {
  color: #fff;
}

.numbers__h3 {
  margin-bottom: 1rem;
}

.numbers__p {}

@media screen and (max-width: 1024px) {
  .project__img {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .numbers__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
  }
}

/* section Skills */
.skills {
  padding: var(--section-padding);
}

.skills__flex {
  align-items: center;
}


.skills__left-flex-item {
  max-width: 45rem;
  width: 100%;
}

.skills__h2 {
  margin-bottom: 5rem;
}

.skills__apps {}

.skills__apps_p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 164.863%;
  margin-bottom: 2rem;
}

.skills__apps_underline {
  background-color: var(--underline-color);
  max-width: 44.5rem;
  width: 100%;
  height: 4px;
  margin-bottom: 3rem;
  /* position: relative; */
}

.progress {
  background-color: var(--bgDarkBlue);
  width: 80%;
  height: inherit;
}

.skills__right-flex-item {}

.skills__right-flex-item {
  /* margin: 0 auto; */
}

.skills__img_person {
  max-width: 55.5rem;
  width: 100%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .skills__h2 {
    margin-bottom: 2rem;
  }

  .skills__apps_p {
    margin-bottom: 1rem;
  }

}

@media screen and (max-width: 900px) {
  .skills__img_person {
    width: 38rem;
  }
}

@media screen and (max-width: 768px) {
  .skills__flex {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .skills__right-flex-item {
    margin-bottom: 3rem;
  }

}


/* section Video */
.video {
  background-color: var(--silverColor);
  padding: var(--section-padding);
}

.video .container {}

.video__h2 {
  text-align: center;
  margin-bottom: 3.9rem;
}

.video__p {
  text-align: center;
  max-width: 54rem;
  margin: 0 auto 4.9rem;
}

.video__video-wrapper {
  position: relative;
  max-width: 111rem;
  width: 100%;
  padding-top: 54.5%;
  /* Т.к. видео в YouTube стандартно 16/9 = 56.5%*/
  margin: 0 auto;
}

.video__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .video__h2 {
    margin-bottom: 3rem;
  }
}

/* section Projects */
.projects {
  padding: 0;
}

.projects .container {
  margin: 0 auto;
  width: (var(--wideContainer) - 2*var(--horiz-p))/4;
}

.projects__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(auto, 1fr); */
  /* justify-items: center; */
  gap: 0;
}

.projects__grid_item {
  position: relative;
}

.project__img {
  max-width: 48rem;
  width: 100%;
  vertical-align: middle;
}

.wrapToHover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(52, 84, 122, 0.65);
  opacity: 0;
}

.wrapToHover:hover {
  opacity: 1;
  transition: 0.3s ease;
}

.wrapToHover__img {
  max-width: 50%;
  margin: auto;
}

/* section Clients */
.clents {
  padding: var(--section-padding);
}

.clients__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.clients__grid_item {
  /* aspect-ratio: 1/1; */
}

.clients__img {
  max-width: 25.5rem;
  width: 100%;
  /* height: 12rem; */
}

/* section Form */
.form {
  background-color: var(--silverColor);
  padding: var(--section-padding);
}

.form .container {
  max-width: 54rem;
  width: 100%;
  margin: 0 auto;
}

.form__h2 {
  margin-top: -1rem;
  margin-bottom: 4.2rem;
  text-align: center;
}

.form__p {
  text-align: center;
  margin-bottom: 5.6rem;
}

.form__inner-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.form__input,
.form__text-area,
.form__button {
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  line-height: 2.3rem;
}

.form__input {
  width: 25.5rem;
  height: 5rem;
  padding: 1.7rem 2rem;
}

.form__input:not(:last-child) {
  margin-right: 1.5rem;
}

.form__text-area {
  width: 100%;
  max-width: 54rem;
  height: 17.5rem;
  resize: none;
  padding: 1.7rem 2rem;
  margin-bottom: 5rem;
  resize: none;
}

.form__button {
  display: block;
  margin: 0 auto;
}

/* Footer */
.footer {
  padding: 2.7rem 0;
  background-color: var(--bgDarkBlue);
  color: #fff;
}

.footer__flex {
  justify-content: space-between;
  align-items: center;
}

.footer__left-flex_item {}

.flex__left-item {}

.footer__h3 {
  margin-bottom: 2rem;
  font-size: 2.1rem;
  font-weight: 500;
}

.footer__p {
  font-size: 1.3rem;
  font-weight: 400;
}

.footer__right-flex_item {
  justify-content: end;
  max-width: 50%;
  width: 100%;
}

.flex__right-item {}

.footer__links:not(:last-child) {
  margin-right: 5rem;
}

.fa-brands {
  font-size: 4rem;
}

.fa-telegram {}

.fa-instagram {}

.fa-github {}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .form {
    padding: var(--section-padding);
  }

  .form__inner-flex {
    flex-wrap: wrap;
  }

  .form__input {
    max-width: 54rem;
    width: 100%;
  }

  .form__input:not(:last-child) {
    margin-bottom: 1.5rem;
    margin-right: 0;
  }

  .footer {}
}