:root {
  --bgDarkBlue: #34547A;
  --silverColor: #EEEFF1;
  --mediumGrayColor: #727272;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 116.5rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.h2-uniform {
  font-size: 3.2rem;
  font-weight: 500;
}

.p-uniform {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--mediumGrayColor);
}

/* section Video */
.video {
  background-color: var(--silverColor);
  padding: 10rem 0;
}

.video .container {}

.video__h2 {
  text-align: center;
  margin-bottom: 3.9rem;
}

.video__p {
  text-align: center;
  max-width: 54rem;
  margin: 0 auto 4.9rem;
}

.video__video-wrapper {
  position: relative;
  max-width: 111rem;
  width: 100%;
  padding-top: 56.5%;
  /* Т.к. видео в YouTube стандартно 16/9 = 56.5%*/
  margin: 0 auto;
}

.video__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* section Form */
.form {
  background-color: var(--silverColor);
}

.form .container {
  max-width: 54rem;
  width: 100%;
  margin: 0 auto;
  padding: 10rem 0;
}

.form__h2 {
  margin-top: -1rem;
  margin-bottom: 4.2rem;
  text-align: center;
}

.form__p {
  text-align: center;
  margin-bottom: 5.6rem;
}

.form__inner-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
  /* max-width: 54rem;
  width: 100%; */
}

.form__input,
.form__text-area,
.form__button {
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  line-height: 2.3rem;
}

.form__input {
  width: 25.5rem;
  height: 5rem;
  padding: 1.7rem 2rem;
}

.form__text-area {
  width: 100%;
  max-width: 54rem;
  height: 17.5rem;
  resize: none;
  padding: 1.7rem 2rem;
  margin-bottom: 5rem;
  resize: none;
}

.form__button {
  background-color: var(--bgDarkBlue);
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.3rem;
  text-align: center;
  letter-spacing: 0.21rem;
  text-transform: uppercase;
  width: 19rem;
  height: 5.5rem;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.2s all;
}

.form__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }

  .form .container {
    padding: 10rem 1.5rem;
  }

  .form__inner-flex {
    flex-wrap: wrap;
  }

  .form__input {
    max-width: 54rem;
    width: 100%;
  }

  .form__input:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}